ul li {
    border: 2px solid yellow;
    display: inline-block;
    
    text-decoration: none;
    padding: 10px;
    margin: 25px;
    width:100px;
        }
   
    header{
        background-color: peachpuff ;
      
      }
      
      h1{
        text-align:center;color: teal;
      }
